<robot name="rohand_right">
  <link name="base"/>
  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 1.5707963 3.14159"/>
    <parent link="base"/>
    <child link="base_link"/>
  </joint>
  <link name="base_link">
    <inertial>
      <origin xyz="-0.0534374129596824 -0.00157154809251104 0.0032467575274062" rpy="0 0 0" />
      <mass value="0.0941614898718946" />
      <inertia ixx="4.1962895621209E-05" ixy="-3.95936210501525E-07" ixz="3.71581889924585E-06" iyy="6.1906439028121E-05" iyz="-7.5091963461847E-07" izz="8.90989074913989E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Index finger -->
  <link name="if_proximal_link">
    <inertial>
      <origin xyz="-0.016911951986149 -0.00765749366613764 -0.00334236834850994" rpy="0 0 0" />
      <mass value="0.00154952958352476" />
      <inertia ixx="6.20200913201911E-08" ixy="-7.88931806956546E-09" ixz="2.14332181974192E-09" iyy="1.54230936622336E-07" iyz="-1.10636494913782E-09" izz="1.69485646305645E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/if_proximal_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/if_proximal_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="if_proximal_link" type="revolute">
    <origin xyz="-0.11324 -0.024137 0.0032314" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="if_proximal_link" />
    <axis xyz="-0.082428 0.99278 0.087177" />
    <limit lower="-1.57" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="if_distal_link">
    <inertial>
      <origin xyz="-0.0201374868799976 -0.00765839764328939 -0.00662950783512292" rpy="0 0 0" />
      <mass value="0.00486631616894411" />
      <inertia ixx="1.06037458594174E-07" ixy="-2.80052670107197E-08" ixz="-1.10754286705661E-07" iyy="5.59829063970866E-07" iyz="-8.01484559546708E-09" izz="5.48253746727419E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/if_distal_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/if_distal_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="if_distal_link" type="revolute">
    <origin xyz="-0.035776 -0.0028401 -0.0014841" rpy="0 0 0" />
    <parent link="if_proximal_link" />
    <child link="if_distal_link" />
    <axis xyz="-0.082428 0.99278 0.087177" />
    <limit lower="-1.57" upper="0" effort="0" velocity="0" />
    <mimic joint="if_proximal_link" multiplier="0.667" offset="0" />
  </joint>
  <link name="if_tip" />
  <joint name="if_tip_joint" type="fixed">
    <origin xyz="-0.045 -0.006 -0.006" rpy="0 0 0" />
    <parent link="if_distal_link" />
    <child link="if_tip" />
  </joint>

  <!-- Middle finger -->
  <link name="mf_proximal_link">
    <inertial>
      <origin xyz="-0.0197978588062098 -0.00676309331424427 -0.00446755065405406" rpy="0 0 0" />
      <mass value="0.00189501857338832" />
      <inertia ixx="7.78041708071735E-08" ixy="-2.0667592450232E-09" ixz="-1.00293189957718E-08" iyy="2.34038237089644E-07" iyz="-1.31948795498825E-10" izz="2.46195986184317E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/mf_proximal_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/mf_proximal_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="mf_proximal_link" type="revolute">
    <origin xyz="-0.11605 -0.0040932 0.0069659" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="mf_proximal_link" />
    <axis xyz="-0.013244 0.99991 -4.2699E-05" />
    <limit lower="-1.57" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="mf_distal_link">
    <inertial>
      <origin xyz="-0.0205799567083225 -0.00679450784333847 -0.00619598626408838" rpy="0 0 0" />
      <mass value="0.00486610881870854" />
      <inertia ixx="1.05820356063162E-07" ixy="-5.96217069992573E-09" ixz="-1.13841963470745E-07" iyy="5.61305496694097E-07" iyz="-1.48710666865769E-09" izz="5.46868992272727E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/mf_distal_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/mf_distal_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="mf_distal_link" type="revolute">
    <origin xyz="-0.040851 -0.00054126 -0.0035364" rpy="0 0 0" />
    <parent link="mf_proximal_link" />
    <child link="mf_distal_link" />
    <axis xyz="-0.013244 0.99991 -2.1055E-05" />
    <limit lower="-1.57" upper="0" effort="0" velocity="0" />
    <mimic joint="mf_proximal_link" multiplier="0.667" offset="0" />
  </joint>
  <link name="mf_tip" />
  <joint name="mf_tip_joint" type="fixed">
    <origin xyz="-0.045 -0.007 -0.007" rpy="0 0 0" />
    <parent link="mf_distal_link" />
    <child link="mf_tip" />
  </joint>

  <!-- Ring finger -->
  <link name="rf_proximal_link">
    <inertial>
      <origin xyz="-0.0177310287909376 -0.00550519929476113 -0.00333587081746279" rpy="0 0 0" />
      <mass value="0.0015495346822944" />
      <inertia ixx="6.1627993173526E-08" ixy="5.28043591321876E-09" ixz="-1.35824301643415E-09" iyy="1.54490462686207E-07" iyz="8.36929214668239E-11" izz="1.69619189994361E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/rf_proximal_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/rf_proximal_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rf_proximal_link" type="revolute">
    <origin xyz="-0.11287 0.015935 0.0062161" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rf_proximal_link" />
    <axis xyz="0.05658 0.9984 -2.102E-05" />
    <limit lower="-1.57" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="rf_distal_link">
    <inertial>
      <origin xyz="-0.0205452704454659 -0.00536749629258281 -0.00756097673363692" rpy="0 0 0" />
      <mass value="0.00486607601001256" />
      <inertia ixx="1.24271987974525E-07" ixy="2.48401012771062E-08" ixz="-1.41965837565003E-07" iyy="5.59956587625226E-07" iyz="8.06905373260045E-09" izz="5.29737231583633E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/rf_distal_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/rf_distal_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rf_distal_link" type="revolute">
    <origin xyz="-0.035766 0.0020268 -0.0026198" rpy="0 0 0" />
    <parent link="rf_proximal_link" />
    <child link="rf_distal_link" />
    <axis xyz="0.05658 0.9984 -2.102E-05" />
    <limit lower="-1.57" upper="0" effort="0" velocity="0" />
    <mimic joint="rf_proximal_link" multiplier="0.667" offset="0" />
  </joint>
  <link name="rf_tip" />
  <joint name="rf_tip_joint" type="fixed">
    <origin xyz="-0.043 -0.008 -0.008" rpy="0 0 0" />
    <parent link="rf_distal_link" />
    <child link="rf_tip" />
  </joint>

  <!-- Little finger -->
  <link name="lf_proximal_link">
    <inertial>
      <origin xyz="-0.0162288997665586 -0.00489295515461147 -0.00285461884567003" rpy="0 0 0" />
      <mass value="0.00136677973237" />
      <inertia ixx="5.65577187001445E-08" ixy="6.43606986195803E-09" ixz="-2.86666526076883E-09" iyy="1.12197398928047E-07" iyz="1.61247214480287E-09" izz="1.27256606416047E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/lf_proximal_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/lf_proximal_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lf_proximal_link" type="revolute">
    <origin xyz="-0.10871130258864 0.0359583660197833 0.00309824490260681" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lf_proximal_link" />
    <axis xyz="0.117591058209323 0.989234457465869 -0.0871064359930968" />
    <limit lower="-1.57" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="lf_distal_link">
    <inertial>
      <origin xyz="-0.0131613846630599 -0.00544871200568296 -0.00463526283326208" rpy="0 0 0" />
      <mass value="0.00326999621591245" />
      <inertia ixx="5.95701111045849E-08" ixy="7.82239562000353E-09" ixz="-3.78877982628279E-08" iyy="1.53009904450743E-07" iyz="4.48079481900786E-09" izz="1.53335411327093E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/lf_distal_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/lf_distal_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lf_distal_link" type="revolute">
    <origin xyz="-0.031562 0.0034532 -0.003392" rpy="0 0 0" />
    <parent link="lf_proximal_link" />
    <child link="lf_distal_link" />
    <axis xyz="0.11759 0.98923 -0.087106" />
    <limit lower="-1.57" upper="0" effort="0" velocity="0" />
    <mimic joint="lf_proximal_link" multiplier="0.667" offset="0" />
  </joint>
  <link name="lf_tip" />
  <joint name="lf_tip_joint" type="fixed">
    <origin xyz="-0.030 -0.008 -0.007" rpy="0 0 0" />
    <parent link="lf_distal_link" />
    <child link="lf_tip" />
  </joint>

  <!-- Thumb -->
  <link name="th_root_link">
    <inertial>
      <origin xyz="-0.0182056024312271 -0.00620278411274924 -0.00602504863372063" rpy="0 0 0" />
      <mass value="0.00217782328356739" />
      <inertia ixx="1.92048481479894E-07" ixy="-8.02008675069051E-08" ixz="-1.58292104587684E-08" iyy="1.97385228513266E-07" iyz="-2.84372060188982E-08" izz="2.25370032308905E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/th_root_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/th_root_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="th_root_link" type="revolute">
    <origin xyz="-0.024656 -0.019554 -0.018266" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="th_root_link" />
    <axis xyz="0.97616 0.01293 0.21667" />
    <limit lower="0" upper="1.3" effort="0" velocity="0" />
  </joint>
  <link name="th_proximal_link">
    <inertial>
      <origin xyz="-0.0184116092810015 -0.0115354100517607 0.00417628792862241" rpy="0 0 0" />
      <mass value="0.00501307756145889" />
      <inertia ixx="7.32552864862064E-07" ixy="-6.67933190699978E-07" ixz="-2.77355271268145E-07" iyy="1.50720254529732E-06" iyz="-1.29786986672997E-07" izz="2.02068566316036E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/th_proximal_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/th_proximal_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="th_proximal_link" type="revolute">
    <origin xyz="-0.025097 -0.021667 -0.015581" rpy="0 0 0" />
    <parent link="th_root_link" />
    <child link="th_proximal_link" />
    <axis xyz="-0.21699 -0.032029 0.97565" />
    <limit lower="-0.5" upper="1.0" effort="0" velocity="0" />
  </joint>
  <link name="th_distal_link">
    <inertial>
      <origin xyz="-0.000439994899924894 -0.0101522919044099 -0.0069088261128312" rpy="0 0 0" />
      <mass value="0.00601772502419511" />
      <inertia ixx="2.88077211935751E-07" ixy="-5.85470950376845E-08" ixz="1.21533994284891E-08" iyy="2.18588933453259E-07" iyz="-1.22530053465934E-08" izz="2.45149442778336E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/th_distal_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes_r/th_distal_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="th_distal_link" type="revolute">
    <origin xyz="-0.049076 -0.023254 0.004868" rpy="0 0 0" />
    <parent link="th_proximal_link" />
    <child link="th_distal_link" />
    <axis xyz="-0.21698 0.032029 0.97565" />
    <limit lower="-0.35" upper="0.7" effort="0" velocity="0" />
    <mimic joint="th_proximal_link" multiplier="0.667" offset="0" />
  </joint>
  <link name="th_tip" />
  <joint name="th_tip_joint" type="fixed">
    <origin xyz="-0.005 -0.020 0.015" rpy="0 0 0" />
    <parent link="th_distal_link" />
    <child link="th_tip" />
  </joint>
</robot>
